NREL_API_KEY=API-KEY
AZURE_SQL_CONN=mssql+pyodbc://user:password@server.database.windows.net/automotive_db?driver=ODBC+Driver+17
DELTA_LAKE_CONN=abfss://container@storageaccount.dfs.core.windows.net/delta